<div class="container">
<h2>Product Detail</h2>
<div>
<form class="form-group" [formGroup]="productDetailForm">
  
    <label class="center-block">Name:
      <input class="form-control" formControlName="product_name">
    </label>
    <label class="center-block">Price:
      <input class="form-control" formControlName="price">
    </label>
{{productDetailForm.value |json }}

<div class="form-group">
  <button (click)="addProduct(product_name.value, price.value)" [disabled]="productDetailForm.pristine || productDetailForm.invalid" >Add</button>
</div>

</form>
</div>
</div>